<% meta title: "Home", description: "This field creates an SEO meta description." %>



<div class="bg-white shadow sm:rounded-lg mt-5">
  <div class="px-4 py-5 sm:p-6">
    <h3 class="text-lg font-medium leading-6 text-gray-900">Upload your leads CSV.</h3>
    <div class="mt-2 max-w-xl text-sm text-gray-500">
      <p>Upload your CSV of your leads that you want to add to the database.</p>
      <p>The required headers are: company_name & website</p>
    </div>
    
        <div class="w-full sm:max-w-xs mt-5">
              <%= form_tag({controller: "home", action: :create}, multipart: true) do %>
                <%= file_field_tag :file %>
                <%= submit_tag "Upload", class:"mt-2 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:text-sm" %>
              <% end %>
        </div>
        
  </div>


  <div class="bg-gray-50 sm:rounded-lg mt-20">
    <div class="px-4 py-5 sm:p-6">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Run Email Finder</h3>
      <div class="mt-2 max-w-xl text-sm text-gray-500">
        <p>Once you have uploaded new leads to the database, click the button below to run the API email finder using Hunter.io.</p>
      </div>
      <div class="mt-5">
        <%= button_to "Update Emails", update_emails_path, method: :post, class:"inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:text-sm" %>

      </div>
    </div>
  </div>
</div>


</div>